.root {
    --text-color: white;
    --link-color: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    /* Only for now */
    color: black;
    text-decoration: none;
}



body{
    margin: 0px;
    
}


.top-bar{
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    gap: 25px;
    /* margin-right: 10px; */
}

.top-bar-button {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    color:white;
    cursor:pointer;
}

.opening-side-by-side-container{ 
    /* display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    text-align: left; */

    display: flex;      
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#title-container{
    margin-left: 5vw;
    /* margin-top: 5vw; */
    padding-bottom: 10vh;
}

.title{
    color: white;
    font-size: 10vw;
    font-family: "Libre Franklin";
}

#background-photo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    justify-content: center;
}

#background-photo-container img {
    width: 100%;
    height: auto;
    align-content: center;
}

#mule-photo-container{
    height: auto;
    flex: display;
    justify-content: center;
    width: 40vw;
    height: auto;
}

#mule-photo-container img{
    width: 100%;
    height: auto;
    /* justify-content: center; */
    align-content: center;

}

#barcode{
    width: 100%;
    padding-left: 5vw;
    padding-bottom: 25vh;
}

#barcode-text{
    width: 60vw;
    height: 3vh;
    background: rgb(174, 173, 173);
    color: black;
}

#barcode-text::placeholder{
    width: 60vw;
    color: black;
}

.box-title{
    color: black;
    /* font-size: 8vh; */
    font-size: clamp(35px,8vh,9vh);
    margin-left: 5vw;
    padding-top: 5vh;
    font-weight: 600;
    font-family: "Inter";
}

.box-side-by-side-container{ 
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    text-align: left;
}

.box-photo-container{
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 25vw;
    height: auto;
    /* border: 5px solid rgb(13, 32, 128); */
}

.box-photo-container img{
    width: 100%;
    height: auto;
}

.box-info-container{
    border: 5px solid rgb(13, 32, 128);
    padding: 5px;
    width: 57vw;
}

#body-background{
    background: rgb(224, 224, 224);
}



/*Beginning of login methods*/

#login-background{
    height: 100%;
    background: linear-gradient(to right, rgb(124,221,254),rgb(22,28,89));
}


.login-block-container{
    width: 100vw;
    height: 100vh;
    margin-left: 15%;
    margin-top: 5%;
}

#login-block{
    width: 70vw;
    height: 80vh;
    background: white;
    text-align: center;
}

#login-title{
    color: blue;
    padding-top: 6%;
    font-size: 3vw;
    line-height: 0;
}

#login-instructions{
    /* background: red; */
    font-size: 1vw;
    margin-top: 80px;
    line-height: 1;
    padding: 15px;
}

.login-block-container .login-input-container{
    margin-top: 0%;
}

.login-input-box{
    width: 100%;
}


#login-input-text{
    padding: 10px;
    width: 400px;
    height: 40px;
    background: rgb(174, 173, 173);
    color: black;
    margin-top: 5%;
}

#login-input-text::placeholder{
    color: black
}

#login-button{
    margin-top: 5%;
    cursor: pointer;
    width: 400px;
    height: 4vw;
    background: blue;
    color: white;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 2vw;
}

/* Contact */

.contact {
    padding: 0 50px;
    margin-bottom: 100px;
    display: flex;
    gap: 50px;
}



.contact form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

/* Can target two different groups in css */
.contact form input, .contact form textarea {
    font-family: Verdana, sans-serif;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact form button {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: white;
    background-color: #00b2ff;
    height: 50px;
    cursor:pointer;
    transition: 0.1;
}
