<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <div id="about-background">

            <div class="top-bar">
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/about">About</a>
                </div>
                <div>
                    <a href="/contact">Contact</a>
                </div>
                <div>
                    {% if admin == True %}
                    <!-- <a href="/logout">Logout</a> -->
                    <form action="{{ url_for('auth.logout') }}" method="POST">
                        <button type="submit" class="text-button">Logout</button>
                    </form>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                </div>
                <div>
                    {% if admin == True %}
                    <a href="/settings">Settings</a>
                    {% endif %}
                </div>
            </div>
    
            <div class="about">
                <div id="about-block-container">
                    <div id="about-block">
                        <div id="about-title">
                            <h1>ABOUT THE MAILROOM</h1>
                        </div>


                        <div class="about-info-header">
                            <h3>Mule Mail Center (Student Mail and Packages)</h3>
                        </div>
                        <div class="about-info-list">
                            <ul>
                                <li>Location: Cotter Union, Main Level</li>
                                <li>Hours: Monday-Friday, 8:00AM-4:00PM</li>
                                <li>Phone: 207-859-4060</li>
                                <li>Email: packages@colby.edu</li>
                            </ul>
                        </div>

                        <div class="about-info-header">
                            <h3>Mail Service Center (Outgoing Mail and Packages)</h3>
                        </div>
                        <div class="about-info-list">
                            <ul>
                                <li>Location: Cotter Union, Bookstore Lower Level</li>
                                <li>Hours: Monday-Friday, 8:00AM-4:00PM</li>
                                <li>Phone: 207-859-4050</li>
                                <li>Fax: 207-859-4055</li>
                                <li>Email: mail@colby.edu</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
    <footer>
        <p>&copy; <span id="year"></span> HashMap OverFlow. All rights reserved.</p>
    </footer>
</html>