<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <div id="contact-background">
            <div class="top-bar">
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/about">About</a>
                </div>
                <div>
                    <a href="/contact">Contact</a>
                </div>
                <div>
                    {% if admin == True %}
                    <!-- <a href="/logout">Logout</a> -->
                    <form action="{{ url_for('auth.logout') }}" method="POST">
                        <button type="submit" class="text-button">Logout</button>
                    </form>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                </div>
                <div>
                    {% if admin == True %}
                    <a href="/settings">Settings</a>
                    {% endif %}
                </div>
            </div>


        <div class="contact">
            <form action="https://api.web3forms.com/submit" method="POST">
                <!--API Access key should be hidden-->
                <input type="hidden" name="access_key" value="{{ access_key }}">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your Name" class="contact-inputs" required>


                    <label for="name">Email</label>
                    <input type="email" id="email" name="email" placeholder="example@gmail.com" class="contact-inputs" required>

                    <label for="message">Message</label>
                    <textarea id="message" name="message" class="contact-inputs" placeholder="Type something!" cols="30" rows="10" required></textarea>

                    <button id="submitButton" type="submit">Send Message</button>
            </form>
            </div>
        </div>
    </body>

    <footer>
        <p>&copy; <span id="year"></span> HashMap OverFlow. All rights reserved.</p>
    </footer>

</html>