<!DOCTYPE html>
<html>
    <head>
        <Title>Mailroom Box Inventory</Title>
    
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div id=header-background>
            <div class="top-bar">
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/about">About</a>
                </div>
                <div>
                    <a href="/contact">Contact</a>
                </div>
                <div>
                    <a href="/login">Login</a>
                </div>
            </div>

            <div class="opening-side-by-side-container">
                <div id = "background-photo-container">
                    <img src="{{ url_for('static', filename='images/main_background.png') }}" alt="background">
                </div>
                <div id="title-container">
                    <div class="title">
                        <b>MAILROOM</b>
                    </div>
                    <div class="title">
                        <b>INVENTORY</b>
                    </div>
                    <div class="title">
                        <b>LIST</b>
                    </div>
                </div>
                <div id="mule-photo-container">
                    <img src="{{ url_for('static', filename='images/mule.png') }}" alt="Wrong file path">
                </div>
            </div>

            <div id="barcode">
                <input id="barcode-text" type="text" placeholder="Input Barcode...">
            </div>
        </div>
        
        <div id=body-background>
            <ul>
                {% for box in boxes %}
                <div class="box-title">
                    {{ box.name }}
                </div>
        
                <div class="box-side-by-side-container">
                    <div class="box-photo-container">
                        <img src="{{ url_for('static', filename='images/mule.png') }}" alt="Wrong file path">
                    </div>
                    <div class="box-info-container">
                        Name: {{ box.name }}<br>
                        Quantity: {{ box.quantity }}<br>
                        Size: {{ box.size }}<br>
                        Link: {{ box.link }}
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
