<!DOCTYPE html>
<html>
    <head>
        <Title>Mailroom Box Inventory</Title>
    
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script>
            window.onbeforeunload = function() {
                sessionStorage.setItem('scroll_pos', window.scrollY);
            };
    
            window.onload = function() {
                const scroll_pos = sessionStorage.getItem('scroll_pos');
                
                if (scroll_pos)
                {
                    window.scrollTo(0, scroll_pos);
                }
            };
        </script>
    </head>
    
    <body>
        <div id=header-background>
            <div class="top-bar">
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/about">About</a>
                </div>
                <div>
                    <a href="/contact">Contact</a>
                </div>
                <div>
                    {% if admin == True %}
                    <a href="/logout">Logout</a>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                </div>
            </div>

            <div class="opening-side-by-side-container">
                <div id = "background-photo-container">
                    <img src="/static/images/main_background.png" alt="Wrong file path">
                </div>
                <div id="title-container">
                    <div class="title">
                        <b>MAILROOM</b>
                    </div>
                    <div class="title">
                        <b>INVENTORY</b>
                    </div>
                    <div class="title">
                        <b>LIST</b>
                    </div>
                </div>
                <div id="mule-photo-container">
                    <img src="/static/images/mule.png" alt="Wrong file path">
                </div>
            </div>
        </div>
        
        
        <div id=body-background>
            <ul>
                {% if admin == True %}
                <div class="barcode-input">
                    <label for="barcode-text"><b>Scan Box Barcode Here</b></label>
                    <div class = "barcode_container">
                        <input id="barcode-text" type="text">
                        <input type="submit" class ="scan_button" value="Scan">
                    </div>
                </div>
                {% endif %}

                <div class = parent-background>
                    {% if admin == True %}
                    <div class = box-border-container>
                        <b>Add New Box</b></br>
                        <form method = "POST", action = "{{ url_for('main.add_box')}}", enctype = "multipart/form-data">
                            <input type = "text" placeholder = "Name" name = "name" required>
                            <input type = "number" placeholder = "Quantity" name = "quantity" required>
                            <input type = "text" placeholder = "Size" name = "size" required>
                            <input type = "text" placeholder = "Link" name = "link" required>
                            <input type = "number" placeholder = "Low Stock #" name = "low_stock" required></br>

                            <div class="form-row">
                                <label for="image">Image:</label>
                                <input type="file" name="image" accept="image/*" required>
                            </div> </br>
                            <input type = "submit"  value = "Submit">
                        </form>
                    </div>
                    
                    <div class = box-border-container>
                        <b>Add New Admin</b>
                        <form method = "POST", action = "{{ url_for('main.add_user')}}"></br>
                            <input type = "text" placeholder = "Email" name = "email" required>
                            <input type = "text" placeholder = "Password" name = "password" required> </br>
                            <input type = "submit" value = "Submit">
                        </form>
                    </div>
                    {% endif %}
                </div>

                {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{category}}">{{ message }}</div>
                {% endfor %}

                {% for box in boxes %}
                <div class="box-title">
                    {{ box.name }}
                </div>
        
                <div class="box-side-by-side-container">
                    <div class="box-photo-container">
                        <img src="/static/images/{{  box.image }}" alt="Wrong file path">
                    </div>
                    {% if admin == True %}
                    <div class = box-update-container>
                        <form method = "POST", action = "{{ url_for('main.update_box', box_id = box.id) }}">
                            <input type = "number" placeholder = "Enter # to + or -" name = "quantity">
                            <input type = "submit" value = "Submit">
                        </form>
                    
                        <form method = "POST", action = "{{ url_for('main.delete_box', box_id = box.id) }}">
                            <input type = "submit" value = "Delete Box">
                        </form>
                    </div>
                    {% endif %}

                    <div class="box-info-container">
                        Name: {{ box.name }}<br>
                        Quantity: {{ box.quantity }}<br>
                        Size: {{ box.size }}<br>
                        Link: {{ box.link }}
                    </div>

                </div>
                {% endfor %}
                {% if admin == True %}
                {% for user in users %}
                <div class = "delete-border-container">
                    <b>Delete Admin?</b>
                    {{ user.email }}
                    <form method = "POST", action = "{{ url_for('main.delete_admin', user_id = user.id) }}">
                        <input type = "submit" value = "🗑️">
                    </form>
                </div>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </body>
</html>
