<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/style.css">
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap"> -->
    </head>



    <body>
        <div id="login-background">

            <div class="top-bar">
                <div class="top-bar-button">
                    <a href="/">
                        <span>Home</span>
                    </a>
                </div>
                <div class="top-bar-button">
                    <a href="/about">
                        <span>About</span>

                    </a>
                </div>
                <div class="top-bar-button">
                    <a href="/contact">
                        <span>Contact</span>
                    </a>
                </div>
                <div class="top-bar-button">
                    <a href="/login">
                        <span>Login</span>
                    </a>
                </div>
            </div>

            <div class="login-block-container">
                <div id="login-block">
                    <div id="login-title">
                        <h1>Login</h1>
                    </div>

                    <div id="login-instructions">
                        <h1>Sign in to your account</h1>
                    </div>

                    <div class="login-input-container">
                        <form method="POST">
                            <div>
                                <input type="text" class="login-input-text" placeholder="email" name="email">
                            </div>
                            <div class = "password-container">
                                <input type="password" class = "password-input-text" placeholder="password" name="password" onclick = "togglePassword()"> 
                               
                                <button type = "button"  id = "show-password">
                                    <img src = "./static/images/eye-slash-regular.svg" alt = "Show Password"/>
                                </button>
                            </div>
                            <input type="submit" class ="submit_button" value="Login">
                        </form>

                        <div id="login-input-container">
                            Forgot your password? 
                            <a href="reset.html" target="_blank" class = "underline">Click here to reset.</a>
                        </div>
                        
                    </div>

                </div>
            </div>


        </div>
        <script>
            function togglePassword() {
                const show_button = document.querySelector('#show-password')
                const show_password_icon = show_button.querySelector('img')
                const password_input = document.querySelector('.password-input-text')


                show_button.addEventListener('click', () => {
                if (password_input.type === 'password') {
                    password_input.type = 'text';
                    show_password_icon.src = './static/images/eye-regular.svg';
                } else {
                    password_input.type = 'password';
                    show_password_icon.src = './static/images/eye-slash-regular.svg';
                }
                })

            }
        </script>
    </body>
</html>