<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>



    <body>
        <div id="login-background">

            <div class="top-bar">
                <div class="top-bar-button">
                    <a href="/">
                        <span>Home</span>
                    </a>
                </div>
                <div class="top-bar-button">
                    <a href="/about">
                        <span>About</span>

                    </a>
                </div>
                <div class="top-bar-button">
                    <a href="/contact">
                        <span>Contact</span>
                    </a>
                </div>
                <div class="top-bar-button">
                    <a href="/login">
                        <span>Login</span>
                    </a>
                </div>
            </div>

            <div class="login-block-container">
                <div id="login-block">
                    <div id="login-title">
                        <h1>Login</h1>
                    </div>

                    <div id="login-instructions">
                        <h1>Sign in to your account</h1>
                    </div>

                    <div class="login-input-container">
                        <form method="POST">
                            <div>
                                <input type="text" placeholder="email" name="email">
                            </div>
                            <div>
                                <input type="password" placeholder="password" name="password"> 
                            </div>
                            <input type="submit" value="Login">
                        </form>

                        <div id="login-input-container">
                            Forgot your password? 
                            <a href="reset.html" target="_blank">Click here to reset.</a>
                        </div>
                        
                    </div>

                </div>
            </div>




        </div>
    </body>
</html>