<!DOCTYPE html>
<html>
    <head>
        <title>Logout</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>



    <body>
        <div id="login-background">

            <div class="top-bar">
                <div class="top-bar-button">
                    <a href="/">
                        <span>Home</span>
                    </a>
                </div>
                <div class="top-bar-button">
                    <a href="/about">
                        <span>About</span>

                    </a>
                </div>
                <div class="top-bar-button">
                    <a href="/contact">
                        <span>Contact</span>
                    </a>
                </div>
                <div class="top-bar-button">
                    <a href="/login">
                        <span>Login</span>
                    </a>
                </div>
            </div>

            <div class="login-block-container">
                <div id="login-block">
                    <div id="login-title">
                        <h1>Logout</h1>
                    </div>
                    <div id="login-instructions">
                        <h1>Click Here to Logout</h1>
                    </div>
                    <div class="login-input-container">
                        <form method="POST">
                            <input type="submit" class = "login-input-text" value="Logout">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>