<!DOCTYPE html>
<html>
    <head>
        <Title>Mailroom Box Inventory</Title>
    
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/html5-qrcode"></script>
    </head>
    
    <body>
        <div id=header-background>
            <div class="top-bar">
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/about">About</a>
                </div>
                <div>
                    <a href="/contact">Contact</a>
                </div>
                <div>
                    {% if admin == True %}
                    <!-- <a href="/logout">Logout</a> -->
                    <form action="{{ url_for('auth.logout') }}" method="POST">
                        <button type="submit" class="text-button">Logout</button>
                    </form>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                </div>
                <div>
                    {% if admin == True %}
                    <a href="/admin">Admin</a>
                    {% endif %}
                </div>
            </div>

            <div class="opening-side-by-side-container">
                <div id = "background-photo-container">
                    <img src="/static/images/main_background.png" alt="Wrong file path">
                </div>
                <div id="title-container">
                    <div class="title">
                        <b>MAILROOM</b>
                    </div>
                    <div class="title">
                        <b>INVENTORY</b>
                    </div>
                    <div class="title">
                        <b>LIST</b>
                    </div>
                </div>
                <div id="mule-photo-container">
                    <img src="/static/images/mule.png" alt="Wrong file path">
                </div>
            </div>
        </div>
        
        
        <div id=admin-body-background>
            <ul>
                {% if admin == True %}
                <div class="barcode-input">
                    <label for="barcode-text"><b>Scan Box Barcode Here</b></label>
                    <div id="qr-reader" style="width: 600px"></div>
                    <div class = "barcode_container">
                        <form method = "POST" action = "{{ url_for('main.scan_box')}}">
                            <input type = "text" name = "barcode" id = "barcode-text">
                            <!-- <input type = "submit" value = "Scan" class = "scan_button"> -->
                        </form>
                    </div>
                </div>
                {% endif %}

                <div class = parent-background>
                    {% if admin == True %}
                    <div class = box-border-container>
                        <b>Add New Box</b></br>
                        <form method = "POST", action = "{{ url_for('main.add_box')}}", enctype = "multipart/form-data">
                            <input type = "text" placeholder = "Name" name = "name" required>
                            <input type = "number" placeholder = "Quantity" name = "quantity" required>
                            <input type = "text" placeholder = "Size" name = "size" required>
                            <input type = "text" placeholder = "Link" name = "link" required>
                            <input type = "number" placeholder = "Low Stock #" name = "low_stock" required>
                            <input type = "text" placeholder = "Barcode" name = "barcode" required></br>

                            <div class="form-row">
                                <label for="image">Image:</label>
                                <input type="file" name="image" accept="image/*" required>
                            </div> </br>
                            <input type = "submit"  value = "Submit">
                        </form>
                    </div>
                    {% endif %}
                </div>

                {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{category}}">{{ message }}</div>
                {% endfor %}

                {% for box in boxes %}
                <div class="box-loop">
                    <div class="box-title">
                        {{ box.name }}
                    </div>

                    <div class="box-side-by-side-container">
                        <div class = "side-container">
                            <div class="box-photo-container">
                                <img src="/static/images/{{  box.image }}" alt="Wrong file path">
                            </div>
                            
                            {% if admin == True %}
                            <div class="box-update-container">
                                <div class="button-group">
                                    <form class="update-form" data-box-id="{{ box.id }}">
                                        <input type="number" placeholder="Enter # to + or -" id="input-text" name="quantity" required>
                                        <input type="submit" value="Submit" class="submit_button">
                                    </form>
                                    <form class="update-size-form" data-box-id="{{ box.id }}">
                                        <input type="text" placeholder="Edit Size" id="input-text" name="size" required>
                                        <input type="submit" value="Submit" class="submit_button">
                                    </form>
                                    <form class="update-link-form" data-box-id="{{ box.id }}">
                                        <input type="text" placeholder="Edit Link" id="input-text" name="link" required>
                                        <input type="submit" value="Submit" class="submit_button">
                                    </form>
                                    <form class="update-low-stock-form" data-box-id="{{ box.id }}">
                                        <input type="number" placeholder="Edit Low Stock #" id="input-text" name="low-stock" required>
                                        <input type="submit" value="Submit" class="submit_button">
                                    </form>
                                    <form class="update-barcode-form" data-box-id="{{ box.id }}">
                                        <input type="text" placeholder="Edit Barcode" id="input-text" name="barcode" required>
                                        <input type="submit" value="Submit" class="submit_button">
                                    </form>
                                    <form class="delete-form" data-box-id="{{ box.id }}">
                                        <input type="submit" value="Delete Box" class="submit_button">
                                    </form>
                                </div>
                            </div>                            
                            {% endif %}
                        </div>
                        <div class="box-info-container">
                            Name: {{ box.name }}<br>
                            Quantity: <span class="box-quantity">{{ box.quantity }}</span><br>
                            Size: <span class="box-size">{{ box.size }}</span><br>
                            Link: <span class="box-link"><a href="{{ box.link }}" class = "link-color">{{ box.link }}</a></span><br>
                            {% if admin == True %}
                            Low Stock Number: <span class="box-low-stock">{{ box.low_stock }}</span><br>
                            Barcode: <span class="box-barcode">{{ box.barcode }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
        <script src="../static/script.js"></script>
    </body>

    <footer>
        <p>&copy; <span id="year"></span> HashMap OverFlow. All rights reserved.</p>
    </footer>
    
</html>
